@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}



body {background: url('../img/skyline-bg.jpg') top center no-repeat; position: relative; color: #fff; margin: 0; padding: 0; font: 300 1em 'Montserrat'; }

* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none;}
.cf:before, .cf:after {content:""; display:table;}
.cf:after, {clear:both;}
.cf {*zoom:1;}

main {width: 100%; @include centerer(false, true); padding: 1.5em;}
article {max-width: 530px; margin: 0 auto; text-align: center;}

img {max-width: 100%; height: auto;}
a {text-decoration: none; font-weight: 600;}

a.txt-link {color: #008db5; text-transform: uppercase; font-size: .9em;}
a.txt-link:hover {color: #fff;}
a.button {display: block;  text-transform: uppercase; padding: .8em; background-color: #008db5; color: #fff;}
a.button:hover {background-color: #000;}

strong {font-weight: 600;}

h1 {font-size: 1.750em; font-weight: 400;}

p {line-height: 1.5em; font-size: 1.250em;}

.link {margin: 1.5em 0;}



@media screen and ( max-width: 530px ) {
    body {background-size: cover;}
    h1 {font-size: 1.45em}
    p {font-size: 1em;}

}